// ios7colors.com

$charcoal:      #2B2B2B
$red:           #FF3B30
$orange:        #FF9500
$yellow:        #FFCC00
$green:         #4CD964
$lightBlue:     #34AADC
$blue:          #007AFF
$purple:        #5856D6
$magenta:       #FF2D55
$spaceGray:     #8E8E93
$gray:          #C7C7CC
$black:         #1F1F21
$white:         #F7F7F7
